
/* Define standard variables and values for website */
/* Background */

$bgcolor: lightblue;

/*  Text color css */
$textcolor: darkblue;


/* Fonts css */
$baseFont: 18;
$mediumFont: $fontBase * 1.222; 
$largeFont: $fontBase * 1.444; 



$fontBase : $bbaseFontase px;
/* Button css  */

/* Media querry css */